<%= form_with(model: parking_slot) do |form| %>
  <% if parking_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking_slot.errors.count, "error") %> prohibited this parking_slot from being saved:</h2>

      <ul>
        <% parking_slot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :x %>
    <%= form.number_field :x, class: 'border w-full' %>
  </div>

  <div class="field">
    <%= form.label :y %>
    <%= form.number_field :y, class: 'border w-full' %>
  </div>

  <div class="field">
    <%= form.label :lot_size_id %>
    <%= form.select :lot_size_id, LotSize.all.map { |lot| [lot.name, lot.id]  } %>
  </div>

  <!-- <div class="field">
    <%= form.label :vacant %>
    <%= form.check_box :vacant %>
  </div> -->

  <div class="actions">
    <%= form.submit "Submit", class: 'bg-indigo-500 block w-full py-2 my-3 font-semibold text-white cursor-pointer' %>
  </div>
<% end %>
