<%= form_with(model: entry_point) do |form| %>
  <% if entry_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry_point.errors.count, "error") %> prohibited this entry_point from being saved:</h2>

      <ul>
        <% entry_point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'border w-full' %>
  </div>

  <div class="field">
    <%= form.label :x %>
    <%= form.number_field :x, class: 'border w-full' %>
  </div>

  <div class="field">
    <%= form.label :y %>
    <%= form.number_field :y, class: 'border w-full' %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'bg-indigo-500 block w-full py-2 my-3 font-semibold text-white cursor-pointer' %>
  </div>
<% end %>
